<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>
    <form id="form">
      <p>Mensagem</p>
      <input id="input" required type="text" name="mensagem" />
      <br />
      <button type="submit">Enviar</button>
    </form>
    <h1 id="username"><%= username %></h1>
    <ul id="messages">

    </ul>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
