<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/chat.css" />
    <title>Chat</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="title">Chat Online</h4>
        <h1 id="username"><%= username %></h1>
      </header>
      <div id="messages" class="conversa"></div>
      <form id="form" autocomplete="off">
        <input autofocus placeholder="Digite sua mensagem" id="input" type="text" name="mensagem" />
        <br />
        <!-- <button type="submit">Enviar</button> -->
      </form>
      
    </div>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
